@import "tailwindcss";

@font-face {
    font-family: "DelaGothicOne";
    src: url("../assets/fonts/DelaGothicOne-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Coco-Heavy";
    src: url("../assets/fonts/CocoSharpTrial-Heavy.woff2") format("woff2");
    font-display: swap;
    
}
@font-face {
    font-family: "QuicksandRegular";
    src: url("../assets/fonts/Quicksand-Regular.woff2") format("woff2"); 
    font-display: swap;
}

@font-face {
    font-family: "QuicksandBold";
    src: url("../assets/fonts/Quicksand-Bold.woff2") format("woff2"); 
    font-display: swap;
}

@font-face {
    font-family: "WaterFall";
    src: url("../assets/fonts/Waterfall-Regular.woff2") format("woff2"); 
    font-display: swap;
}
@theme{
    --color-Bg-Movil: #011907;
    --font-DelaGothicOne: "DelaGothicOne";
    --font-Coco-Heavy:"Coco-Heavy";
    --font-QuicksandRegular:"QuicksandRegular";
    --font-QuicksandBold:"QuicksandBold";
    --font-WaterFall:"WaterFall";
}